<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <!--
            two way data binding, "[]" or brackets are for input whereas "()" or parentheses are for events so output,
            here we have both input and output when using ngModel
        -->
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="add task">
    </div>
    <div class="form-control">
        <label for="day">Day</label>
        <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="add day & time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder"  [(ngModel)]="reminder" id="reminder">
    </div>
    <input type="submit" value="Save task" class="btn btn-block">
</form>
